<a href="https://colab.research.google.com/github/AKASHA2020/DL_Assignments/blob/main/PIAIC64041_Ionosphere_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Ionosphere Data Problem

### Dataset Description: 

This radar data was collected by a system in Goose Bay, Labrador. This system consists of a phased array of 16 high-frequency antennas with a total transmitted power on the order of 6.4 kilowatts. See the paper for more details. The targets were free electrons in the ionosphere. "Good" radar returns are those showing evidence of some type of structure in the ionosphere. "Bad" returns are those that do not; their signals pass through the ionosphere.

Received signals were processed using an autocorrelation function whose arguments are the time of a pulse and the pulse number. There were 17 pulse numbers for the Goose Bay system. Instances in this databse are described by 2 attributes per pulse number, corresponding to the complex values returned by the function resulting from the complex electromagnetic signal.

### Attribute Information:

- All 34 are continuous
- The 35th attribute is either "good" or "bad" according to the definition summarized above. This is a binary classification task.

 <br><br>

<table border="1"  cellpadding="6">
	<tbody>
        <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Data Set Characteristics:&nbsp;&nbsp;</b></p></td>
		<td><p class="normal">Multivariate</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Instances:</b></p></td>
		<td><p class="normal">351</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Area:</b></p></td>
		<td><p class="normal">Physical</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">
    <tbody>
        <tr>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Attribute Characteristics:</b></p></td>
            <td><p class="normal">Integer,Real</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Number of Attributes:</b></p></td>
            <td><p class="normal">34</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Date Donated</b></p></td>
            <td><p class="normal">N/A</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">	
    <tbody>
    <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Associated Tasks:</b></p></td>
		<td><p class="normal">Classification</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Missing Values?</b></p></td>
		<td><p class="normal">N/A</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Web Hits:</b></p></td>
		<td><p class="normal">N/A</p></td>
	</tr>
    </tbody>
    </table>

### WORKFLOW :
- Load Data
- Check Missing Values ( If Exist ; Fill each record with mean of its feature ) or any usless column.
- Shuffle the data if needed.
- Standardized the Input Variables. **Hint**: Centeralized the data
- Split into 60 and 40 ratio.
- Encode labels.
- Model : 1 hidden layers including 16 unit.
- Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)
- Train the Model with Epochs (100).
- If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .
- Prediction should be > **92%**
- Evaluation Step
- Prediction

# Load Data:
[Click Here to Download DataSet](https://github.com/ramsha275/ML_Datasets/blob/main/ionosphere_data.csv)

***import Libraries***

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tp
import matplotlib.pyplot as plt
import tensorflow as tf

***Drive Mount***

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Load Data

In [3]:
sphere = pd.read_csv("/content/drive/MyDrive/deep learning assignment/ionosphere_data.csv")
sphere.head(6)

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b
4         1         0   1.00000  ...   -0.04608   -0.65697      g
5         1         0   0.02337  ...   -0.00039    0.12011      b

[6 rows x 35 columns]

In [4]:
sphere.shape

(351, 35)

In [5]:
sphere.describe()

         feature1  feature2    feature3  ...   feature32   feature33   feature34
count  351.000000     351.0  351.000000  ...  351.000000  351.000000  351.000000
mean     0.891738       0.0    0.641342  ...   -0.003794    0.349364    0.014480
std      0.311155       0.0    0.497708  ...    0.513574    0.522663    0.468337
min      0.000000       0.0   -1.000000  ...   -1.000000   -1.000000   -1.000000
25%      1.000000       0.0    0.472135  ...   -0.242595    0.000000   -0.165350
50%      1.000000       0.0    0.871110  ...    0.000000    0.409560    0.000000
75%      1.000000       0.0    1.000000  ...    0.200120    0.813765    0.171660
max      1.000000       0.0    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 34 columns]

In [6]:
sphere.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature1   351 non-null    int64
 1   feature2   351 non-null    int64
 2   feature3   351 non-null    float64
 3   feature4   351 non-null    float64
 4   feature5   351 non-null    float64
 5   feature6   351 non-null    float64
 6   feature7   351 non-null    float64
 7   feature8   351 non-null    float64
 8   feature9   351 non-null    float64
 9   feature10  351 non-null    float64
 10  feature11  351 non-null    float64
 11  feature12  351 non-null    float64
 12  feature13  351 non-null    float64
 13  feature14  351 non-null    float64
 14  feature15  351 non-null    float64
 15  feature16  351 non-null    float64
 16  feature17  351 non-null    float64
 17  feature18  351 non-null    float64
 18  feature19  351 non-null    float64
 19  feature20  351 non-null    float64
 20  feature21  351 non-null    float64
 21  feature22  351 non-null    float64
 22  feature23  351 non-null    float64
 23  feature24  351 non-null    float64
 24  feature25  351 non-null    float64
 25  feature26  351 non-null    float64
 26  feature27  351 non-null    float64
 27  feature28  351 non-null    float64
 28  feature29  351 non-null    float64
 29  feature30  351 non-null    float64
 30  feature31  351 non-null    float64
 31  feature32  351 non-null    float64
 32  feature33  351 non-null    float64
 33  feature34  351 non-null    float64
 34  label      351 non-null    object
dtypes: float64(32), int64(2), object(1)
memory usage: 96.1+ KB

In [7]:
x=sphere.drop("label",axis=1).copy()
y=sphere["label"].copy()

# Split

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.6,random_state=100)

***Standardized***

In [9]:
from sklearn.preprocessing import StandardScaler
stand = StandardScaler()
stand.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [10]:
x_train =pd.DataFrame(stand.transform(x_train),columns=x_train.columns)
x_test=pd.DataFrame(stand.transform(x_test),columns=x_test.columns)

In [11]:
def prepare_targets(y_train, y_test):
    le = LabelEncoder()
    le.fit(y_train)
    y_train = le.transform(y_train)
    y_test = le.transform(y_test)
    return y_train, y_test

In [12]:
from sklearn.preprocessing import LabelEncoder
y_train,y_test = prepare_targets(y_train, y_test)

# Create Model

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras import models
from tensorflow.keras import layers
network=models.Sequential()
network.add(layers.Dense(16,activation='relu',input_shape=(34,)))
network.add(layers.Dense(16,activation='relu'))
network.add(layers.Dense(1,activation='sigmoid'))

# Compile

In [14]:
network.compile(optimizer="rmsprop",loss="binary_crossentropy",metrics=["acc"])

# Train

In [15]:
network.fit(x_train, y_train,epochs= 100, batch_size = 50)

Epoch 1/100
5/5 [==============================] - 1s 6ms/step - loss: 0.6906 - acc: 0.6669
Epoch 2/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6445 - acc: 0.7138
Epoch 3/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6223 - acc: 0.7252
Epoch 4/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5984 - acc: 0.7301
Epoch 5/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6031 - acc: 0.7095
Epoch 6/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5635 - acc: 0.7609
Epoch 7/100
5/5 [==============================] - 0s 5ms/step - loss: 0.5677 - acc: 0.7709
Epoch 8/100
5/5 [==============================] - 0s 5ms/step - loss: 0.5427 - acc: 0.8054
Epoch 9/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5298 - acc: 0.8158
Epoch 10/100
5/5 [==============================] - 0s 3ms/step - loss: 0.5189 - acc: 0.8328
Epoch 11/100
5/5 [==============================] - 0s 8ms/step - loss: 0.5167 - acc: 0.8138
Epoch 12/100
5/5 [==============================] - 0s 3ms/step - loss: 0.5096 - acc: 0.8284
Epoch 13/100
5/5 [==============================] - 0s 3ms/step - loss: 0.5055 - acc: 0.8468
Epoch 14/100
5/5 [==============================] - 0s 3ms/step - loss: 0.4938 - acc: 0.8325
Epoch 15/100
5/5 [==============================] - 0s 5ms/step - loss: 0.4729 - acc: 0.8391
Epoch 16/100
5/5 [==============================] - 0s 3ms/step - loss: 0.4559 - acc: 0.8556
Epoch 17/100
5/5 [==============================] - 0s 3ms/step - loss: 0.4439 - acc: 0.8647
Epoch 18/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4246 - acc: 0.8810
Epoch 19/100
5/5 [==============================] - 0s 4ms/step - loss: 0.4326 - acc: 0.8669
Epoch 20/100
5/5 [==============================] - 0s 3ms/step - loss: 0.4044 - acc: 0.8669
Epoch 21/100
5/5 [==============================] - 0s 4ms/step - loss: 0.4036 - acc: 0.8685
Epoch 22/100
5/5 [==============================] - 0s 3ms/step - loss: 0.4003 - acc: 0.8659
Epoch 23/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3740 - acc: 0.8966
Epoch 24/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3708 - acc: 0.8953
Epoch 25/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3556 - acc: 0.8989
Epoch 26/100
5/5 [==============================] - 0s 4ms/step - loss: 0.3325 - acc: 0.9078
Epoch 27/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3350 - acc: 0.8953
Epoch 28/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3349 - acc: 0.8988
Epoch 29/100
5/5 [==============================] - 0s 3ms/step - loss: 0.3129 - acc: 0.9096
Epoch 30/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2992 - acc: 0.9055
Epoch 31/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3045 - acc: 0.8985
Epoch 32/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2808 - acc: 0.9013
Epoch 33/100
5/5 [==============================] - 0s 5ms/step - loss: 0.2678 - acc: 0.9146
Epoch 34/100
5/5 [==============================] - 0s 5ms/step - loss: 0.2502 - acc: 0.9171
Epoch 35/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2606 - acc: 0.9078
Epoch 36/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2330 - acc: 0.9284
Epoch 37/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2140 - acc: 0.9427
Epoch 38/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2266 - acc: 0.9316
Epoch 39/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2383 - acc: 0.9246
Epoch 40/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2323 - acc: 0.9190
Epoch 41/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1999 - acc: 0.9313
Epoch 42/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2147 - acc: 0.9225
Epoch 43/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1992 - acc: 0.9267
Epoch 44/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1913 - acc: 0.9322
Epoch 45/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2131 - acc: 0.9117
Epoch 46/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1734 - acc: 0.9347
Epoch 47/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1708 - acc: 0.9447
Epoch 48/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1813 - acc: 0.9354
Epoch 49/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1543 - acc: 0.9505
Epoch 50/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1749 - acc: 0.9438
Epoch 51/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1629 - acc: 0.9415
Epoch 52/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1552 - acc: 0.9401
Epoch 53/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1470 - acc: 0.9443
Epoch 54/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1593 - acc: 0.9358
Epoch 55/100
5/5 [==============================] - 0s 5ms/step - loss: 0.1365 - acc: 0.9460
Epoch 56/100
5/5 [==============================] - 0s 5ms/step - loss: 0.1384 - acc: 0.9432
Epoch 57/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1438 - acc: 0.9429
Epoch 58/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1300 - acc: 0.9498
Epoch 59/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1185 - acc: 0.9540
Epoch 60/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1175 - acc: 0.9584
Epoch 61/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1264 - acc: 0.9450
Epoch 62/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1099 - acc: 0.9548
Epoch 63/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1166 - acc: 0.9520
Epoch 64/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1146 - acc: 0.9627
Epoch 65/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1063 - acc: 0.9673
Epoch 66/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1087 - acc: 0.9588
Epoch 67/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1216 - acc: 0.9443
Epoch 68/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1011 - acc: 0.9582
Epoch 69/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0910 - acc: 0.9713
Epoch 70/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1091 - acc: 0.9600
Epoch 71/100
5/5 [==============================] - 0s 4ms/step - loss: 0.1083 - acc: 0.9622
Epoch 72/100
5/5 [==============================] - 0s 5ms/step - loss: 0.0865 - acc: 0.9805
Epoch 73/100
5/5 [==============================] - 0s 3ms/step - loss: 0.1107 - acc: 0.9616
Epoch 74/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0907 - acc: 0.9708
Epoch 75/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0985 - acc: 0.9660
Epoch 76/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0913 - acc: 0.9710
Epoch 77/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0800 - acc: 0.9823
Epoch 78/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0849 - acc: 0.9755
Epoch 79/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0870 - acc: 0.9719
Epoch 80/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0862 - acc: 0.9691
Epoch 81/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0833 - acc: 0.9771
Epoch 82/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0771 - acc: 0.9796
Epoch 83/100
5/5 [==============================] - 0s 6ms/step - loss: 0.0827 - acc: 0.9796
Epoch 84/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0855 - acc: 0.9718
Epoch 85/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0804 - acc: 0.9762
Epoch 86/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0878 - acc: 0.9704
Epoch 87/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0836 - acc: 0.9742
Epoch 88/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0806 - acc: 0.9795
Epoch 89/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0683 - acc: 0.9707
Epoch 90/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0701 - acc: 0.9809
Epoch 91/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0624 - acc: 0.9803
Epoch 92/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0576 - acc: 0.9864
Epoch 93/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0806 - acc: 0.9811
Epoch 94/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0571 - acc: 0.9847
Epoch 95/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0584 - acc: 0.9842
Epoch 96/100
5/5 [==============================] - 0s 5ms/step - loss: 0.0701 - acc: 0.9805
Epoch 97/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0659 - acc: 0.9827
Epoch 98/100
5/5 [==============================] - 0s 3ms/step - loss: 0.0686 - acc: 0.9827
Epoch 99/100
5/5 [==============================] - 0s 6ms/step - loss: 0.0777 - acc: 0.9777
Epoch 100/100
5/5 [==============================] - 0s 4ms/step - loss: 0.0504 - acc: 0.9863

# Evaluation Step

In [16]:
network.evaluate(x_test,y_test)

5/5 [==============================] - 0s 3ms/step - loss: 0.3440 - acc: 0.8936

[0.34404256939888, 0.8936170339584351]

# Prediction

In [17]:
prediction=network.predict(x_test)

In [18]:
network.predict(x_test).sum()

92.78192